[Unit]
Description=Thwip Qu control interface
After=network-online.target
Wants=network-online.target

[Container]
Image=ghcr.io/razzula/thwip:latest
Network=host
AutoUpdate=registry

[Service]
Restart=always
TimeoutStartSec=0
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
